@import './common/mixin';

footer{
    width: 100%;
    height: 160px;
    background: @fc;
    .clear;
    .footer{
        width: 960px;
        text-align: center;
        margin: 10px auto;
        padding-top: 60px;
    }
}